@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme transition */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

/* Exclude certain elements from transition */
.no-transition {
  transition: none !important;
}

/* Prevent transition on page load */
.preload * {
  transition: none !important;
}